Repository CS2103JAN2018-W11-B3/main, pull requests merged in 2018-03, with the labels that each got.

#42 update tag color
  docs/DeveloperGuide.adoc
Labels: Type: Doc, Type: Enhancement

#50 User Guide Draft 1
  docs/UserGuide.adoc
Labels: Type: Doc

#51 Developer Guide Draft 1
  docs/DeveloperGuide.adoc
Labels: Type: Doc

#52 Draft 1 Developer Guide Updates
  docs/DeveloperGuide.adoc
Labels: Type: Doc

#58 Add ThemeCommand
  src/main/java/seedu/address/logic/commands/RemarkCommand.java
  src/main/java/seedu/address/logic/commands/ThemeCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/ThemeCommandParser.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/java/seedu/address/ui/UiManager.java
  src/main/java/seedu/address/ui/UiStyle.java
  src/main/resources/view/LightTheme.css
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/address/logic/commands/ThemeCommandTest.java
  src/test/java/seedu/address/logic/parser/ThemeCommandParserTest.java
Labels: Type: Enhancement, Type: Feature

#78 Update doc (DG: Theme, UG: remark, theme, social media)
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
Labels: Type: Doc
